// colors

$main-text: #000000;
$white: #ffffff;
$secondary: #81B3D2;
$light-text: #333333;
$light: #eeeeee;

// font and typography

$main-font: "PT Sans", "Arial", sans-serif;

// font weight

$font-regular: 400;
$font-bold: 700;
